<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Seller Panel</a></li>
    <li class="breadcrumb-item"><a href="#">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change profile</li>
  </ol>
</nav>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

  <div *ngIf="apiError != ''" class="alert alert-danger" role="alert">
    {{ apiError }}
  </div>

  <div *ngIf="messageSuccess != ''" class="alert alert-success" role="alert">
    {{ messageSuccess }}
  </div>

  <div class="form-group">
    <label for="currentPassword">Current Password</label>
      <input formControlName="currentPassword" type="password" class="form-control"
             id="currentPassword" placeholder="***">
      <span class="form-help-text" *ngIf="changePasswordForm.get('currentPassword').invalid && changePasswordForm.get('currentPassword').dirty">
        <span *ngIf="changePasswordForm.get('currentPassword')['errors']['required']">Field can`t be empty.</span>
      </span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" [ngClass]="{'ng-invalid':changePasswordForm.hasError('notSame')}"
             id="password" placeholder="***">
      <span class="form-help-text" *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').dirty">
        <span *ngIf="changePasswordForm.get('password')['errors']['required']">Field can`t be empty.</span>
      </span>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control" [ngClass]="{'ng-invalid':changePasswordForm.hasError('notSame')}"
             id="confirmPassword" placeholder="***">
      <span class="form-help-text" *ngIf="changePasswordForm.hasError('notSame') && changePasswordForm.get('confirmPassword').dirty">
        <span *ngIf="changePasswordForm.hasError('notSame')">Passwords don`t match.</span>
      </span>
  </div>

  <div class="form-group">
      <button type="submit" class="btn btn-primary"
              [disabled]="changePasswordForm.invalid">
        Change
        <span class="ti-user"></span>
      </button>
  </div>
</form>
