<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seller Panel</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 p-0">
        <header class="seller_panel">
          <div class="row">
            <div class="col-sm-3">
              <h1 class="logo-seller-panel"><a routerLink="/seller">Phone<span>911</span></a></h1>
            </div>
            <div class="col-sm-7">
              <h3>Hello {{ userInfo?.mname }}</h3>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger" (click) ="logout()">Log out</button>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light mb-3 ml-4">
          <div class="card-header">Seller Info</div>
          <div class="card-body">
            <h5 class="card-title">{{ profile?.name }} {{ profile?.lastName }}</h5>
            <ul class="seller_info">
              <li><span>Age: </span>{{ profile?.age }}</li>
              <li><span>Phone: </span>{{ profile?.phone }}</li>
              <li><span>Position: </span>{{ profile?.position }}</li>
              <li><span>Salary: </span>{{ profile?.salary }} $</li>
              <li class="mt-4"><a routerLink="/seller/change-profile">Change profile</a></li>
              <li><a routerLink="/seller/change-email">Change email</a></li>
              <li><a routerLink="/seller/change-password">Change password</a></li>
            </ul>
          </div>
        </div>
        <div class="list-group ml-4">
          <a href="#" class="list-group-item list-group-item-action">My statistics</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="seller_panel_main mr-4">
          <mc-breadcrumbs></mc-breadcrumbs>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
