<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seller Panel</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 p-0">
        <header class="seller_panel">
          <div class="row">
            <div class="col-sm-3">
              <h1 class="logo-seller-panel">Phone<span>911</span></h1>
            </div>
            <div class="col-sm-7">
              <h3>Hello {{ userInfo.name }}</h3>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger" (click) ="logout()">Log out</button>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="list-group ml-4">
          <a href="#" class="list-group-item list-group-item-action">My Profile</a>
          <a href="#" class="list-group-item list-group-item-action">My statistics</a>
        </div>
        <div class="card bg-light mb-3 ml-4">
          <div class="card-header">Seller Info</div>
          <div class="card-body">
            <h5 class="card-title">Taras Kukulyak</h5>
            <ul class="seller_info">
              <li>Men</li>
              <li>31 </li>
              <li>Ivano-Frankivsk</li>
              <li>+380970847448</li>
              <li>Seller</li>
              <li>10 000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="seller_panel_main mr-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
